.storeBody{
    background-image: url("../src/assets/img-stores/store_bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.store {
    text-align: center;
    color: black;
    padding: 30px;
}

.map-container {
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0;
}