body {
    background-color: black;;
}
#hero1 {
    position: relative;
    background-image: url('/src/assets/img-bg/background-image.jpg');
    background-size: cover; 
    background-position: center; 
}
#hero1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to bottom, transparent 45%, #191919 ); /* Cambia los valores del gradiente según sea necesario */
}
#hero2 {
    background-image: url('/src/assets/img-bg/background-image2.jpeg');
    background-size: cover; 
    background-position: center; 
}
